body {
    background-image: url("pink-tulips-flowers-background-card-mothers-day-march-happy-easter-waiting-spring-greeting-wedding-invitation-flat-lay-141125540.webp");
    background-repeat: initial;
    background-repeat: repeat-x;
  }