
.bar{
    background-color: rgb(228, 237, 237);
    width:400px;
}
.html{
    width: 200px;
    background-color: orange;
}
.css{
    width: 300px;
    background-color: orange;
}
.js{
    width: 350px;
    background-color: orange;

}
.php{
    width: 320px;
    background-color: orange;

}


